@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-image: url(https://static.vecteezy.com/ti/vetor-gratis/p1/13222731-ilustracao-de-fundo-de-campo-de-futebol-com-design-simples-e-tamanho-4k-vetor.jpg);
    background-position: center;
}   
nav{
    font-weight: 700;
}
li{
    font-family: "Noto Serif", serif;
    font-weight: 700;
    color: black;

}
h1{
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: black;
    position: relative;
    left: 700px;
}

img{
    position: relative;
    left: 700px;
    
}

a{
    margin-left: 25px;
}
